/languages
/languages/*

/plugins/akismet
/plugins/akismet/*

/plugins/breadcrumb-navxt
/plugins/contact-form-7
/plugins/duplicator
/plugins/envato-market
/plugins/hello-dolly
/plugins/index.php
/plugins/js_composer
/plugins/mb-custom-post-type
/plugins/meta-box
/plugins/meta-box-show-hide
/plugins/meta-box-tabs
/plugins/nt-theme-shortcodes
/plugins/option-tree
/plugins/revolution_slider
/plugins/revslider
/plugins/svg-support
/plugins/ultimate-post
/plugins/wp-administration-style
/plugins/wp-jalali
/plugins/wp-parsidate


/plugins/breadcrumb-navxt/*
/plugins/contact-form-7/*
/plugins/duplicator/*
/plugins/envato-market/*
/plugins/hello-dolly/*
/plugins/index.php/*
/plugins/js_composer/*
/plugins/mb-custom-post-type/*
/plugins/meta-box/*
/plugins/meta-box-show-hide/*
/plugins/meta-box-tabs/*
/plugins/nt-theme-shortcodes/*
/plugins/option-tree/*
/plugins/revolution_slider/*
/plugins/revslider/*
/plugins/svg-support/*
/plugins/ultimate-post/*
/plugins/wp-administration-style/*
/plugins/wp-jalali/*
/plugins/wp-parsidate/*

/index.php
/themes/index.php
/themes/twentytwenty
/themes/twentytwentyone
/themes/twentytwentythree
/themes/twentytwentytwo
/themes/index.php/*
/themes/twentytwenty/*
/themes/twentytwentyone/*
/themes/twentytwentythree/*
/themes/twentytwentytwo/*


/uploads/*