

a.blg-men-cat {
    text-decoration: none !important ;
}


.blg-men-cat:hover{
    color: #f4929b;
    background-color:black;
}


.blg-men-cat{
    color: black;
    border-radius:4px;
    padding:2px;
    margin-right: 25px;
    margin-left: 10px;
    font-weight: 800;
}
